extends _parts/_layout

block includeCss

block includeJs

block vars
  -
    //- var title = 'トップページ'
    //- var description = 'トップページの説明がはいります'
    var bodyClass = ''
    var pageId = 'top'
    var img = imgDir


block content
  p test〜