-
  var title = 'XXXXXサイトタイトル'
  var description = 'XXXXXサイト説明が入ります'

block vars
doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    meta(type='description' content!=description)
    title !{title}
    link(rel='stylesheet' href='./assets/css/style.css')
    block includeCss

    script(src='./assets/js/common.js')
    block includeJs

  body
    include _header

    #content
      block content

    include _footer
