@charset "UTF-8"

/* use npm version */
@import "../../../node_modules/normalize.css/normalize.css"

/* original */
@import '_parts/_variables'
@import '_parts/_functions'
@import '_parts/_reset'
@import '_parts/_layout'
@import '_parts/_header'
@import '_parts/_footer'
// @import '_parts/_js'
@import '_parts/_utility'

/* block */
// @import '_block/_btn'
// @import '_block/_form'
// @import '_block/_list'
// @import '_block/_slider'
// @import '_block/_table'
// @import '_block/_text'

/* pages */
@import '_pages/_top'